# Python相关
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
dist/
build/
*.egg-info/
# 日志文件
*.log
# 编辑器配置
.idea/
.vscode/
*.swp
*.swo
node_modules
data/uploads/cee81825-7183-4dde-b59a-112d0b2a13fd.pdf
